#menu {
    background: linear-gradient(70deg, #278dff, #581ff7);
    padding: 1em;
    padding-left: 3.25em;
}

.navbar-menu a {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left:20px;
}

#menu_items {
    padding-left: 2em;
}

.navbar-item img {
    max-height: 3.5rem;
}

.navbar-burger {
    color: white;
}

.hero.is-info {
    background-image: linear-gradient(to bottom right, #2d82ff, #6c0bff);
}

.button.is-info.is-inverted {
   color: #2d82ff;
}

.hero.is-info a.navbar-item.is-active, .hero.is-info .navbar-link.is-active {
    background-color: #ffffff57;
    color: #fff;
    border-radius: 5px;
}

.navbar-item {
    margin: 5px;
}

.hero.is-info a.navbar-item:hover {
    background-color: #ffffff57;
    color: #fff;
    border-radius: 5px;
}

.navbar, .navbar-burger{
    margin-top: 1em;
}

.title {
    color: #363636;
    font-size: 4.5rem;
    font-weight: 200;
    line-height: 1.125;
}

.subtitle {
    font-weight: 200;
    font-size: 1.8em;
}

.hero-body img {
    box-shadow: 1px 15px 32px rgba(0, 0, 0, 0.301);
  }

.home-button {
    font-size: 2em;
    text-transform: uppercase;
}

.footer {
    background: linear-gradient(110deg, #ffffff, #e6e6e6);
}
@keyframes animatetop_inverse {
    from {
        top: 0;
        opacity: 1
    }
    to {
        top: -200px;
        opacity: 0
    }
}
@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.animate {
    position: relative;
    animation: animatetop 1s;
}

.animate-fade {
    animation: fadein 2s;
}

.img_vignette {
    background-color: #555;
  }


.inner-box {
    padding: 1.75em;
    background: linear-gradient(20deg, #e6e6e6, #ffffff);
    border-bottom: 16px solid;
    border-image-source: linear-gradient(90deg, #ffffff, #d5d5d5);
    border-image-slice: 1;
}

.inner-box a{
    color: white;
}

.icon-vignette {
    text-shadow: 0px 4px 0px #bfbfbf62;
    color: #1f71ce;
}

.media .media-left .image img{
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.14);
}

#title-home {
    font-weight: 300;
    font-size: 3em;
    color: white;
    padding:1em;
}

.title-background-home {
    background: linear-gradient(110deg, #2d82ff, #6c0bff);
}

small {
    font-size: 0.9rem;
    font-style: italic;
}
#pseudo{
    color: white;
    background: -webkit-linear-gradient(40deg, #278dff, #581ff7);
    border-radius: 3px;
    padding: 0.25em;
}

footer {
    background-color: rgb(44, 44, 44);
}

.button {
    height: 3em;
}

.close {
    font-size: 1.55em;
    padding-bottom: 10px;
}

.box {
    margin: 5em;
}

.animate_modal {
    animation: animatetop 1s;
}

.animate_modal_close {
    animation: animatetop_inverse 1s;
    
}
.is-horizontal-center {
    justify-content: center;
  }
  